.brand
  &__wrapper
  &__block
    margin-top: 100px
    display: flex
    justify-content: space-between
  &__item
    &:nth-of-type(1)
      margin-right: 7px
  &__description
    margin-left: 10rem
  &__title
  &__text
  &__link
    color: #000000
  &__gallery
    display: flex
  &__img
    max-height: 360px

.gallery
  &-img
    &--big

    &--small
  &-video
