.header
  display: flex
  align-items: center
  justify-content: space-between
  height: 80px

  &__logo
    width: 210px
    height: 20px

// Кнопка открытия/закрытия burger-menu
.burger-menu
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  background-color: transparent
  width: 28px
  height: 20px
  border: none
  padding: 0
  cursor: pointer

  &__line
    display: block
    width: 28px
    height: 3px
    background-color: #000
    opacity: 1
    transition: 0.3s all
    &-active
      &:first-of-type
        position: absolute
        top: 50%
        transform: rotate(45deg)
      &:nth-of-type(2)
        opacity: 0
      &:last-of-type
        position: absolute
        top: 50%
        transform: rotate(-45deg)

// Меню бургера
.menu
  visibility: hidden
  &-active
    visibility: visible
  &__list
  &__link

