.movies
  padding-top: 100px
  padding-bottom: 250px
  &__wrapper
    display: flex
    flex-wrap: wrap

  &__block
    margin-top: 100px
    // flex-basis: 100%
    width: 100%
    display: flex
    justify-content: space-between
    margin-left: 10rem

  &__description
    position: relative
    max-height: 350px
    overflow: hidden
    margin-right: 30px
  &__title
  &__text
    max-width: 500px

  &__video
    margin: 0
    width: 600px

.video
  position: relative
  width: 100%
  height: 0
  padding-bottom: 56.25%

  &__media
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: none

  &__button
    display: none
    position: absolute
    top: 50%
    left: 50%
    width: 68px
    height: 68px
    border: none
    background: transparent
    transform: translate(-50%, -50%)
    cursor: pointer
    outline: none

.video--enabled .video__button
  display: block

.bottom
  position: absolute
  bottom: 0
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1) 80%)
  width: 100%
  height: 60px
  opacity: 1
  transition: .3s

.read-more-checker
  opacity: 0
  position: absolute

.read-more-checker:checked ~ .movies__description
  max-height: 100%
  overflow: visible

.read-more-checker:checked ~ .movies__description .bottom
  opacity: 0
  transition: .3s

.read-more-checker ~ .read-more-button:before
  content: 'Читать далее »'

.read-more-checker:checked ~ .read-more-button:before
  content: 'Свернуть «'

.read-more-button
  margin-top: 15px
  cursor: pointer
  display: inline-block
  font-size: 14px
  color: #777
