.smm
  padding-bottom: 150px
  &__wrapper
    display: flex
    flex-direction: column
  &__block
    margin-top: 100px
    display: flex
    justify-content: space-between
  &__description
    margin-left: 10rem
  &__title
  &__text
  &__link
    color: #000000
